samples/SqfUtil/loadDocRaw-test/loadDocRaw-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="Element"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Element">
		<xs:complexType>
			<xs:attribute name="attribute" type="xs:string" default="default-value"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
